*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    
}

/* Default css */

.default-btn{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 17px 30px;
    color: #8a8a8a;
    background: #fff;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 10px;
    transition: .5s;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.left{
    float: left;
}
.right{
    float: right;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

.img{
    max-width: 100%;
}

.mid-content{
    max-width: 1300px;
    margin: auto;
}


/* Header */

.header-section{
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99;

}
.header-logo{
    width: 30%;
}
.header-logo .logo img{
    width: 45px;
    margin-right: 10px;
   
}

.header-logo a {
    text-decoration: none;
    color: black;
    line-height: 45px;
    font-size: 17px;
}
.header-logo a h2{
    font-weight: 500;
}

/* header menu */
.header-menu{
    width: 55%;
}
.header-menu ul{
    
}
.header-menu ul li{
    display: inline-block;
    margin-right: 5px;
}
.header-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    line-height: 35px;
    font-weight: 500;
}
.header-menu ul li a:hover{}

/* Dropdown menu */

.header-menu ul li {
    position: relative;
   
    
}

.header-menu ul ul{
    z-index: 2;
    position: absolute;
    top: 132%;
    left: -6px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transition: .4s;
    transform-origin: top center;
    background-color: #fff;
    
}

.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


   
    

.header-menu ul ul li{
    border-bottom: 1px solid #ddd;
    display: block;
    
}
.header-menu ul ul a{
    display: block;
}




/* Header btn */
.header-btn{
    width: 15%;
  
}
.header-btn a{
    text-decoration: none;
    color: #6278df;
    display: inline-block;
    border: 2px solid #6278df;
    background-color: #fff;
    padding: 7px 18px;
    border-radius: 5px;
    margin-top: 8px;
    transition: .4s;
    
    font-size: 14px;
}
.header-btn a h3{
    font-weight: 500;
}

.header-btn a:hover{
    background-color: #6278df;
    border-radius: 5px;
    color: white;
}


/* Banner Section */

.banner{
    background: url(img/mbr-4.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0;
    color: #fff;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: -1;
}
.banner-text h3{
    font-size: 28px;
    font-weight: 400;

}
.banner-text h1{
    margin: 30px 0;
    font-size: 60px;
}

.banner-text a:hover{
    background-color: #6278df;
    color: #fff;
}

/* Video section */

.video-section{
    padding: 100px;
    
    
}
.iframe{
    width: 50%;
}
.video-content{
    width: 50%;
    
}
.video-content h1{
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 30px;
}

.video-content p{
    color: #767676;
    line-height: 1.6em;
    font-size: 20px;
    font-weight: 300;
}


/* Service Section */


.service-section{
    padding: 50px;
    background-color: #ffffff;
}
.service-content{}

.service-content h1{
    font-size: 60px;
    color: #000;
    font-weight: 700;
    margin-bottom: 25px;
}

.service-content h4{
    font-size: 25px;
    font-weight: 300;
}


/* service-box */
.service-items{
    margin-top: 50px;
}
.service-box{
    width: 31.3%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(0, 0, 0, 0.109);
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

 .s-icon{
    width: 20px;
    float: left;
    height: 160px;
    font-size: 40px;
    margin-right: 45px;
    color: #6278df;
}
.service-box .s-content{
    
}
.service-box .s-content h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 5px;
}
.service-box .s-content p{
    font-size: 21px;
    font-weight: 300;
    line-height: 1.6em;
    color: #767676;
    padding-bottom: 40px;
}

/*  Price section */

.price-section{
    padding-bottom: 100px;
    background-color: #f7f9ff;
    color: #000;
}

.price-text{}
.price-text h1{
    font-size: 60px;
    margin: 20px 0;
    font-weight: 400;
}

.price-text h3{
    font-size: 25px;
    font-weight: 300;
    color: #767676;
}

/* price box */